h2 {
    padding: 1.5vh;
    font-size: 2.5vh;
    font-weight: 800;
}

p{
    padding: 0 1.5vh 0.2vh 1.5vh;
    font-size: 1.8vh;
}

@media screen and (min-width: 1025px) {

h2{
    font-size: 3vh;
    font
}

}